HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

*.properties
bin/com/seohan/kakao/SeohanKakaoApplicationTests.kt
bin/com/seohan/kakao/SQLTest$SeohanKakaoApplicationTests.class
bin/com/seohan/kakao/SQLTest.class
bin/com/seohan/kakao/Controller/KakaoMessageRestController.class
bin/com/seohan/kakao/Domain/KakaoMessageModel.class
bin/com/seohan/kakao/Mapper/KakaoRepository.class
bin/com/seohan/kakao/Service/KakaoService.class
bin/com/seohan/kakao/Service/KakaoServiceImpl.class
*.jar
*.class
=======
src/main/resources/account.properties
bin/

*.gz
